$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #ECEFF1;
}

.viewContainer {
  padding-left: 0;
  .desktopContainer {
    padding-left: 0;

    .cardColumn {
      height: 700px;
      overflow: scroll;

      .desktopCardContainer {
        border-top: 1px solid rgba(0,0,0,0.7);
        border-bottom: 1px solid rgba(0,0,0,0.7);
        margin-left: 0px;
        padding: 10px;
        background-color: #CFD8DC;
        &:focus {
          outline: none;
        }
        &.selected {
          background-color: #90A4AE;
        }
        .picture {
          img {
            height: 100px;
          }
        }
      }

    }
    .infoColumn {
      .selectedUserContainer {
        padding-left: 20px;
        .sectionContainer {
          margin: 20px 0;
          &.top {
            margin-top: 0;
          }
          .sectionHeader {
            font-size: 16px;
          }
          .phone {
            h5 {
              margin: 20px 0;
            }
          }
          a {
            text-decoration: none;
            .link {
              color: #1E88E5;
            }
          }
        }
      }
    }
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
