$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #ECEFF1;
}

.viewContainer {
  padding-left: 0;
  .desktopContainer {
    padding-left: 0;

    .cardColumn {
      height: 700px;
      overflow: scroll;

      .desktopCardContainer {
        border-top: 1px solid rgba(0,0,0,0.7);
        border-bottom: 1px solid rgba(0,0,0,0.7);
        margin-left: 0px;
        padding: 10px;
        background-color: #CFD8DC;
        &:focus {
          outline: none;
        }
        &.selected {
          background-color: #90A4AE;
        }
        .picture {
          img {
            height: 100px;
          }
        }
      }

    }
    .infoColumn {
      .selectedUserContainer {
        margin-top: 30px;
        padding-left: 20px;
        .sectionContainer {
          margin: 20px 0;
          &.top {
            margin-top: 0;
            .picture {
              img {
                height: 150px;
              }
            }
          }
          .sectionHeader {
            font-size: 16px;
          }
          .phone {
            h5 {
              margin: 20px 0;
            }
          }
          a {
            text-decoration: none;
            .link {
              color: #1E88E5;
            }
          }
        }
      }
    }
  }
}

/////////////////
// media quries
/////////////////

////////////////
// tablet
///////////////
@media screen and (max-width: 992px) {

.viewContainer {
  .desktopContainer {
    .cardColumn {
      .desktopCardContainer {
        border-top: none;
        border-bottom: none;
        margin: 5px 0;
        .picture {
          padding-left: 0;
          img {
            height: 75px;
          }
        }
        .info {
          .name {
            font-size: 16px;
          }
        }
      }
    }

    .infoColumn {
      .selectedUserContainer {
        padding-left: 10px;

        .sectionContainer {
          &.top {
            .picture {
              img {
                height: 125px;
              }
            }
          }
        }
      }
    }
  }
}


}

////////////////
// phone
////////////////
@media screen and (max-width: 768px) {


}
